In [ ]:

from keras.datasets import boston_housing
boston_housing

In [ ]:
(X_train,y_train) , (X_test,y_test)=boston_housing.load_data()
print('train %s  %s'%(X_train.shape,y_train.shape))
print('test %s  %s'%(X_test.shape,y_test.shape))

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/boston_housing.npz
57344/57026 [==============================] - 0s 0us/step
train (404, 13)  (404,)
test (102, 13)  (102,)

In [ ]:
import pandas as pd

pd.DataFrame(X_train)

          0     1      2    3       4   ...    8      9     10      11     12
0    1.23247   0.0   8.14  0.0  0.5380  ...   4.0  307.0  21.0  396.90  18.72
1    0.02177  82.5   2.03  0.0  0.4150  ...   2.0  348.0  14.7  395.38   3.11
2    4.89822   0.0  18.10  0.0  0.6310  ...  24.0  666.0  20.2  375.52   3.26
3    0.03961   0.0   5.19  0.0  0.5150  ...   5.0  224.0  20.2  396.90   8.01
4    3.69311   0.0  18.10  0.0  0.7130  ...  24.0  666.0  20.2  391.43  14.65
..       ...   ...    ...  ...     ...  ...   ...    ...   ...     ...    ...
399  0.21977   0.0   6.91  0.0  0.4480  ...   3.0  233.0  17.9  396.90  16.20
400  0.16211  20.0   6.96  0.0  0.4640  ...   3.0  223.0  18.6  396.90   6.59
401  0.03466  35.0   6.06  0.0  0.4379  ...   1.0  304.0  16.9  362.25   7.83
402  2.14918   0.0  19.58  0.0  0.8710  ...   5.0  403.0  14.7  261.95  15.79
403  0.01439  60.0   2.93  0.0  0.4010  ...   1.0  265.0  15.6  376.70   4.38

[404 rows x 13 columns]

In [ ]:
mean = X_train.mean(axis=0)
std = X_train.std(axis=0)

X_train = (X_train - mean) / std
X_test = (X_test - mean) / std

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

model=Sequential() #initializes ANN
model.add(Dense(units=64, activation='relu', input_dim=13)) #units-no of neurons , ip dimentions because there are 13 features
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=1))

#https://towardsdatascience.com/deep-learning-which-loss-and-activation-functions-should-i-use-ac02f1c56aa8

In [ ]:

model.compile(optimizer='adam',loss='mean_squared_error',metrics=['mae'])

#tf.keras.optimizers.RMSprop(0.001)
#https://stackoverflow.com/questions/45632549/why-is-the-accuracy-for-my-keras-model-always-0-when-training

In [ ]:
#train the model

x=model.fit(X_train,y_train,epochs=30)

Epoch 1/30
404/404 [==============================] - 0s 79us/step - loss: 0.9501 - mae: 0.6910
Epoch 2/30
404/404 [==============================] - 0s 57us/step - loss: 1.1116 - mae: 0.7669
Epoch 3/30
404/404 [==============================] - 0s 67us/step - loss: 0.9015 - mae: 0.6531
Epoch 4/30
404/404 [==============================] - 0s 57us/step - loss: 0.8409 - mae: 0.6423
Epoch 5/30
404/404 [==============================] - 0s 62us/step - loss: 0.7935 - mae: 0.6436
Epoch 6/30
404/404 [==============================] - 0s 53us/step - loss: 1.0440 - mae: 0.7193
Epoch 7/30
404/404 [==============================] - 0s 62us/step - loss: 0.9064 - mae: 0.6596
Epoch 8/30
404/404 [==============================] - 0s 62us/step - loss: 0.7138 - mae: 0.5640
Epoch 9/30
404/404 [==============================] - 0s 55us/step - loss: 0.7345 - mae: 0.5885
Epoch 10/30
404/404 [==============================] - 0s 63us/step - loss: 0.9165 - mae: 0.6524
Epoch 11/30
404/404 [==============================] - 0s 57us/step - loss: 1.0965 - mae: 0.7768
Epoch 12/30
404/404 [==============================] - 0s 62us/step - loss: 1.0186 - mae: 0.7008
Epoch 13/30
404/404 [==============================] - 0s 64us/step - loss: 1.2550 - mae: 0.8587
Epoch 14/30
404/404 [==============================] - 0s 62us/step - loss: 1.2287 - mae: 0.8564
Epoch 15/30
404/404 [==============================] - 0s 61us/step - loss: 1.1957 - mae: 0.8080
Epoch 16/30
404/404 [==============================] - 0s 60us/step - loss: 1.0356 - mae: 0.7526
Epoch 17/30
404/404 [==============================] - 0s 63us/step - loss: 0.8861 - mae: 0.6913
Epoch 18/30
404/404 [==============================] - 0s 57us/step - loss: 0.7169 - mae: 0.5808
Epoch 19/30
404/404 [==============================] - 0s 61us/step - loss: 0.7870 - mae: 0.6120
Epoch 20/30
404/404 [==============================] - 0s 61us/step - loss: 0.8341 - mae: 0.6426
Epoch 21/30
404/404 [==============================] - 0s 68us/step - loss: 0.9600 - mae: 0.7335
Epoch 22/30
404/404 [==============================] - 0s 70us/step - loss: 0.8032 - mae: 0.6237
Epoch 23/30
404/404 [==============================] - 0s 65us/step - loss: 0.7022 - mae: 0.5871
Epoch 24/30
404/404 [==============================] - 0s 66us/step - loss: 0.6740 - mae: 0.5679
Epoch 25/30
404/404 [==============================] - 0s 60us/step - loss: 0.7881 - mae: 0.6407
Epoch 26/30
404/404 [==============================] - 0s 59us/step - loss: 0.9369 - mae: 0.6752
Epoch 27/30
404/404 [==============================] - 0s 62us/step - loss: 0.9559 - mae: 0.7374
Epoch 28/30
404/404 [==============================] - 0s 79us/step - loss: 0.9982 - mae: 0.7390
Epoch 29/30
404/404 [==============================] - 0s 66us/step - loss: 1.2132 - mae: 0.8193
Epoch 30/30
404/404 [==============================] - 0s 61us/step - loss: 1.0008 - mae: 0.7264

In [ ]:
model.evaluate(X_test,y_test)

#mae is 2.5 -> we are still 2500 off real target

102/102 [==============================] - 0s 104us/step

[12.441842247458066, 2.405829668045044]

In [ ]:
y_test

array([ 7.2, 18.8, 19. , 27. , 22.2, 24.5, 31.2, 22.9, 20.5, 23.2, 18.6,
       14.5, 17.8, 50. , 20.8, 24.3, 24.2, 19.8, 19.1, 22.7, 12. , 10.2,
       20. , 18.5, 20.9, 23. , 27.5, 30.1,  9.5, 22. , 21.2, 14.1, 33.1,
       23.4, 20.1,  7.4, 15.4, 23.8, 20.1, 24.5, 33. , 28.4, 14.1, 46.7,
       32.5, 29.6, 28.4, 19.8, 20.2, 25. , 35.4, 20.3,  9.7, 14.5, 34.9,
       26.6,  7.2, 50. , 32.4, 21.6, 29.8, 13.1, 27.5, 21.2, 23.1, 21.9,
       13. , 23.2,  8.1,  5.6, 21.7, 29.6, 19.6,  7. , 26.4, 18.9, 20.9,
       28.1, 35.4, 10.2, 24.3, 43.1, 17.6, 15.4, 16.2, 27.1, 21.4, 21.5,
       22.4, 25. , 16.6, 18.6, 22. , 42.8, 35.1, 21.5, 36. , 21.9, 24.1,
       50. , 26.7, 25. ])

In [ ]:
print(model.predict(X_test))

[[ 7.932889 ]
 [17.97175  ]
 [18.968338 ]
 [28.661037 ]
 [22.242273 ]
 [23.672695 ]
 [28.485601 ]
 [21.088615 ]
 [18.014383 ]
 [19.113178 ]
 [17.449121 ]
 [15.630513 ]
 [14.583008 ]
 [41.914898 ]
 [18.279196 ]
 [20.417543 ]
 [23.935904 ]
 [16.28696  ]
 [19.754221 ]
 [16.890482 ]
 [10.971703 ]
 [10.125139 ]
 [20.634233 ]
 [15.720668 ]
 [22.625273 ]
 [20.234098 ]
 [29.134207 ]
 [32.271698 ]
 [11.858118 ]
 [18.84271  ]
 [19.754362 ]
 [15.071269 ]
 [31.680677 ]
 [22.248528 ]
 [20.417469 ]
 [ 6.549246 ]
 [18.427198 ]
 [18.476557 ]
 [18.81209  ]
 [26.249441 ]
 [34.0461   ]
 [24.268694 ]
 [12.051209 ]
 [44.278736 ]
 [30.931646 ]
 [29.376287 ]
 [27.590351 ]
 [18.104803 ]
 [21.10424  ]
 [22.048855 ]
 [35.207245 ]
 [20.508383 ]
 [12.628788 ]
 [12.703702 ]
 [37.03313  ]
 [27.07923  ]
 [ 9.79215  ]
 [49.751556 ]
 [33.40854  ]
 [23.205544 ]
 [21.704493 ]
 [13.677242 ]
 [16.238728 ]
 [20.073893 ]
 [22.57783  ]
 [21.962542 ]
 [12.9476385]
 [20.656044 ]
 [18.292261 ]
 [ 8.483186 ]
 [15.446874 ]
 [28.127266 ]
 [22.666527 ]
 [13.06183  ]
 [24.691534 ]
 [19.04733  ]
 [17.857275 ]
 [23.255629 ]
 [35.54509  ]
 [ 8.789176 ]
 [21.406143 ]
 [38.486904 ]
 [15.674762 ]
 [14.396111 ]
 [15.7502365]
 [15.026582 ]
 [22.488997 ]
 [18.689358 ]
 [23.388315 ]
 [25.229134 ]
 [17.150862 ]
 [19.854755 ]
 [25.222845 ]
 [41.377552 ]
 [36.279438 ]
 [21.691038 ]
 [35.09558  ]
 [35.937622 ]
 [25.7681   ]
 [45.023182 ]
 [32.353832 ]
 [20.528917 ]]